<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>OptTeste</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="/Projeto_Teste_Software/css/bootstrap.min.css">
<link rel="stylesheet" href="/Projeto_Teste_Software/css/font-awesome.min.css">
<link rel="stylesheet" href="/Projeto_Teste_Software/css/bootstrap.css">
<link rel="stylesheet" href="/Projeto_Teste_Software/css/modals.css">
<style>
	body {
		padding-top: 50px;
		padding-bottom: 20px;
	}
</style>
<link rel="stylesheet" href="/Projeto_Teste_Software/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/Projeto_Teste_Software/css/main.css">
<script src="/Projeto_Teste_Software/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<script src="/Projeto_Teste_Software/js/login/login.js"></script>
<script src="/Projeto_Teste_Software/js/header/header.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.js"><\/script>')</script>
<script src="/Projeto_Teste_Software/js/vendor/bootstrap.min.js"></script>
<script src="/Projeto_Teste_Software/js/main.js"></script>